<div class="container">
    <!--paginationSystem-->
    <section class="pagination-container">
        <app-pagination-system (newPageEvent)="receiveNewPageNumber($event)" [numberOfPages]="numberOfPages"></app-pagination-system>
    </section>
    <!--/paginationSystem-->
    
    <!--gridSystem-->
    <section class="grid-container">
        <div class="row">
            <div class="col text-center text-uppercase">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-9" *ngFor="let preview of previewsToShow">
                <app-preview-card [preview]="preview" [route]="route"></app-preview-card>
            </div>
        </div>
    </section>
    <!--/gridSystem-->

    <!--paginationSystem-->
    <section class="pagination-container">
        <app-pagination-system [numberOfPages]="numberOfPages"></app-pagination-system>
    </section>
    <!--/paginationSystem-->
</div>