a {
    color: white;
    padding: 1%;
    text-align: center;
}

.control-container {
    align-items: center;
    text-align: center;
    padding: 1% 0;
}

.next-page, .last-page, .previus-page, .first-page {
    font-size: 30px;
}