<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <style>
    .navbar-brand {
      padding-top: 15px;
    }
  </style>
    <p class="navbar-brand" href="#">Manga Reader</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['random']">Manga Aleatorio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Tags</a>
        </li>
      </ul>
    </div>
  </nav>
