.gallery-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-bottom .pagination {
    margin-top: 0px;
  }
  
  .pagination > li > button, .pagination > li > span {
    background-color: #ccc;
    padding: 2px 9px;
    color: #fff;
    border: 0px;
  }

  .pagination > li > a {
    background-color: #ccc;
    margin-top: 10px;
    padding: 4px 9px;
    color: #fff;
    border: 0px;
  }
  
  .pagination > li > button {
    margin-right: 5px;
  }

  .pagination > li > a {
    margin-right: 5px;
  }
  
  .pagination > .active > button, .pagination > .active > span, .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #32c5d2;
  }

  .active :hover {
    text-decoration: underline;
  }