<div class="row gallery-bottom">
    <div class="col-sm-6">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span class="pagination-arrow" aria-hidden="true">«</span>
                </a>
            </li>
            <li class="active" *ngFor="let page of numberOfPages |times">
                <button (click)="sendNewPageNumber(page)">{{page}}</button>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span class="pagination-arrow" aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </div>
</div>

