<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img [src]="manga?.cover" class="card-img" [alt]="manga?.name">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Título: {{manga?.name}}</h5>
        <p class="card-text"> Descripción: {{manga?.description}}</p>
        <p class="card-text">Artista: {{manga?.artist?.name}}</p>
        <p class="card-text">Tags:
          <span class="tag-item" *ngFor="let tag of manga?.tags">
            {{tag?.name}}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
