#carouselExampleCaptions {
    background-color: black;
    margin-top: 2%;
}

.crousel-inner-img {
    margin: 0 1%;
    width: 15%;
    padding: 1% 0;
}

.col-md-2 {
    margin: 0 0;
    padding-right: 0.5%;
    padding-left: 0.5%;
}
