<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="https://thumb.mghubcdn.com/mn/kuroshitsuji.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Titulo: {{title}}</h5>
          <p class="card-text">This is a "Manga description" with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
